.confirm-section{
    .canvas{
        width:100%;
        // padding-top:60.5%;
        border:solid 1px #ddd;

        @include media-breakpoint-up(md){
            border-width:2px;
        }
    }
}
